:root {
    --wzb-download-counter-border: transparent;
    --wzb-download-counter-text: var(--vp-c-text-1);
    --wzb-download-counter-bg: var(--vp-c-green-soft);
}

.download-counter.custom-block {
    border-color: var(--wzb-download-counter-border);
    color: var(--wzb-download-counter-text);
    background-color: var(--wzb-download-counter-bg);
}