:root {
    --wzb-heimu-bg-color: #252525;
    --wzb-heimu-text-color: #252525;
}

.dark{
    --wzb-heimu-bg-color: #eeeeee;
    --wzb-heimu-text-color: #eeeeee;
}

.heimu {
    color: var(--wzb-heimu-text-color);
    background-color: var(--wzb-heimu-bg-color);
    text-shadow: none;
    transition: color 0.13s linear, background-color 0.13s linear, text-shadow 0.13s linear;
}

.heimu:active, .heimu:hover {
    color: unset;
    background-color: unset;
    text-shadow: unset;
}

.vp-doc .heimu a {
    color: var(--wzb-heimu-text-color);
    text-shadow: none;
    transition: color 0.13s linear, background-color 0.13s linear, text-shadow 0.13s linear;
}

.vp-doc .heimu:active a, .vp-doc .heimu:hover a {
    color: var(--vp-c-brand-1);
    text-shadow: unset;
}
