:root {
    --vp-nav-bg-color: #dadaf7;
    --vp-local-nav-bg-color: #f0f0f8;
}

.dark {
    --vp-nav-bg-color: #080855;
    --vp-local-nav-bg-color: #1e1e74;
}

div#app>div.Layout>header.VPNav {
    background-color: var(--vp-nav-bg-color);
    --docsearch-search-button-background: var(--vp-local-nav-bg-color);
}

div#app>div.Layout>header.VPNav>div.VPNavBar>div.divider>div.divider-line {
    height: 0px;
}

div#app>div.Layout>header.VPNav>div.VPNavBar>div.wrapper>div.container>div.title>div.VPNavBarTitle>a.title {
    border-bottom-width: 0px;
}