:root {
    --wzb-heimu-bg-color: #252525;
    --wzb-heimu-text-color: #252525;
}

.dark{
    --wzb-heimu-bg-color: #eeeeee;
    --wzb-heimu-text-color: #eeeeee;
}

.heimu:active, .heimu:hover {
    color: unset;
    background-color: unset;
    text-shadow: unset;
}

.heimu {
    color: var(--wzb-heimu-text-color);
    background-color: var(--wzb-heimu-bg-color);
    text-shadow: none;
    transition: color 0.13s linear, background-color 0.13s linear;
}

.gray-italic {
    color: gray;
    font-style: italic;
}