.heimu:active, .heimu:hover {
    color: unset;
    background-color: unset;
    text-shadow: unset;
}

.heimu {
    color: #252525;
    background-color: #252525;
    text-shadow: none;
    transition: color 0.13s linear, background-color 0.13s linear;
}

.gray-italic {
    color: gray;
    font-style: italic;
}